body, button {
  font-family: roboto, sans-serif;
}

#toDoList {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2px 16px;
  width: 350px;
}

li {
  list-style: none;
  padding-bottom: 4px;
}
